#restaurant-card {
  display: flex;
  flex-direction: column;
}

#restaurant-img-wrapper {
  width: 100%;
  max-height: 420px;
  border-radius: 8px;
  justify-content: center;
  overflow: hidden;
}

#restaurant-img {
  width: 100%;
  border-radius: 8px;
}

#restaurant-categories-wrapper {
  display: flex;
  margin-top: 12px;
  flex-direction: row;
  flex-wrap: wrap;
}

#header {
  margin-top: 26px;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#icons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  height: 25px;
  width: 25px;
  margin-left: 8px;
  padding: 4px;
  border-radius: 5px;
  transition: 0.5s;
}

.icon:hover {
  background-color: #EDEFF5;
}

.icon:active {
  background-color: #EDEFF5;
}