#restaurant-card {
  display: flex;
  flex-direction: column;
}

#restaurant-img-wrapper {
  width: 100%;
  max-height: 420px;
  border-radius: 8px;
  justify-content: center;
  overflow: hidden;
}

#restaurant-img {
  width: 100%;
  border-radius: 8px;
}

#restaurant-categories-wrapper {
  display: flex;
  margin-top: 12px;
  flex-direction: row;
  flex-wrap: wrap;
}

#header {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#icons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  height: 22px;
  width: 22px;
  margin-left: 8px;
  padding: 5px;
  border-radius: 50%;
  border-width: 1px;
  background-color: white;
  transition: 0.7s;
  
}

.icon:hover {
  background-color: #EDEFF5;
  filter: drop-shadow(0 0 0.2rem #d3d7e3);
}

.icon:active {
  background-color: #EDEFF5;
}