#page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("utils/FOOD_BACKGROUND.jpg");
  background-size: 130vw;
  z-index: -2;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5vh;
  border-radius: 40px;
  height: 315px;
  width: 530px;
  background-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 0 12rem white);
}